{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="mb-10">
    <p>Hi {{ user.username }}!</p>
  </div>
  
  {% if user.subscription == None %}
    <div class="mb-10">
      <a class="rounded p-5 text-xl border-yellow-400 bg-blue-400 text-white hover:bg-blue-700 hover:text-yellow-400" href="{% url 'users:upgrade' %}">Upgrade</a>
    </div>  
  {% else %}
    <p>Current Plan - {{ user.subscription }}</p>
  {% endif %}
  
  <div class="mb-10">
    <a class="rounded p-5 text-xl border-yellow-400 bg-yellow-400 text-blue-700 hover:bg-blue-700 hover:text-yellow-400" href="{% url 'logout' %}">logout</a>
  </div>
    
{% else %}

  <div class="p-24 mx-auto border mb-5">
    <p class="mb-10 text-2xl">You are not logged in</p>
    <a class="rounded p-5 text-xl border-yellow-400 bg-yellow-400 text-blue-700 hover:bg-blue-700 hover:text-yellow-400" href="{% provider_login_url 'basecamp' %}">Sign Up | Login (with Basecamp)</a>
  </div>

  <div class="p-24 mx-auto border">
    {% for product in products %}
      <div>
        <p>{{ product.name }}</p>
        {% for plan in product.plan_set.all %}
          <div>
            <p>{{ plan.nickname }}</p>
            <p>{{ plan.human_readable_price }}</p>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

{% endif %}
{% endblock %}
