{% extends 'base.html' %}
{% load static %}

{% block title %}Upgrade{% endblock %}

{% block pre_close_head %}
<script src="https://js.stripe.com/v3/"></script>
<link rel="stylesheet" href="{% static 'css/StripeElements.css' %}">
{% endblock %}

{% block content %}
<h2 class="text-3xl mb-5">Upgrade</h2>

<div class="w-2/5">
  <form id="subscription-form">
    <div id="card-element" class="MyCardElement">
      <!-- Elements will create input elements here -->
    </div>

    <!-- We'll put the error messages in this element -->
    <div id="card-errors" role="alert"></div>
    <button id="submit" type="submit">Subscribe</button>
  </form>
</div>


{% endblock %}

{% block pre_close_body %}

<script>
  const stripePublicKey = "pk_live_51H47wOHQF19ZH0rLYk2DZvNEBrhfHPBZBz9G7n0yjwlXZIixdoq5NyBM8lmNXxVefcNdOXrN0E5i4qBU0gB9zvM600KVY8Kyik";
  const customerEmail = "kireevr1996@gmail.com";
  const createCustomerUrl = "/users/create_subscription/";

  var stripe = Stripe(stripePublicKey);
  var elements = stripe.elements();

  var style = {
    base: {
      color: "#32325d",
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: "antialiased",
      fontSize: "16px",
      "::placeholder": {
        color: "#aab7c4"
      }
    },
    invalid: {
      color: "#fa755a",
      iconColor: "#fa755a"
    }
  };

  var cardElement = elements.create("card", { style: style });
  cardElement.mount("#card-element");

  cardElement.on('change', showCardError);

  var form = document.getElementById('subscription-form');
  form.addEventListener("submit", function (ev) {
    ev.preventDefault();
    stripePaymentMethod(cardElement);
  });

  function showCardError(event) {
    let displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  }
  
  function stripePaymentMethod(card) {
    let billingName = "{{ user.username }}";
    stripe
      .createPaymentMethod({
        type: 'card',
        card: card,
        billing_details: {
          name: billingName,
        },
      })
      .then((result) => {
        if (result.error) {
          showCardError(result);
        } else {
            stripePaymentMethodHandler(result);
        }
      });
  }

  function stripePaymentMethodHandler(result) {
    if (result.error) {
      // Error code
    } else {
      const paymentParams = {
          email: customerEmail,
          plan_id: "price_1H48VmHQF19ZH0rLpsWzXJ7G",
          payment_method: result.paymentMethod.id,
      };
      fetch(createCustomerUrl, {
        method: 'post',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken'),
        },
        credentials: 'same-origin',
        body: JSON.stringify(paymentParams),
      }).then(function(response) {
        return response.json(); 
      }).then(function(result) {
        // todo: check and process subscription status based on the response
      }).catch(function (error) {
        // more error handling
      });
    }
  };
</script>

{% endblock %}
